2024-04-16T16:54:16.928+07:00  INFO 8616 --- [product-service] [restartedMain] c.h.p.ProductServiceApplication          : Starting ProductServiceApplication using Java 21.0.2 with PID 8616 (E:\Spring\spring-microservice\product-service\target\classes started by hieunt27 in E:\Spring\spring-microservice)
2024-04-16T16:54:16.932+07:00  INFO 8616 --- [product-service] [restartedMain] c.h.p.ProductServiceApplication          : No active profile set, falling back to 1 default profile: "default"
2024-04-16T16:54:17.023+07:00  INFO 8616 --- [product-service] [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : Devtools property defaults active! Set 'spring.devtools.add-properties' to 'false' to disable
2024-04-16T16:54:17.024+07:00  INFO 8616 --- [product-service] [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : For additional web related logging consider setting the 'logging.level.web' property to 'DEBUG'
2024-04-16T16:54:18.417+07:00  INFO 8616 --- [product-service] [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Bootstrapping Spring Data JPA repositories in DEFAULT mode.
2024-04-16T16:54:18.563+07:00  INFO 8616 --- [product-service] [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 136 ms. Found 4 JPA repository interfaces.
2024-04-16T16:54:18.793+07:00  INFO 8616 --- [product-service] [restartedMain] o.s.cloud.context.scope.GenericScope     : BeanFactory id=79f79947-c2ae-35a2-8acb-2ef2cbf39715
2024-04-16T16:54:19.084+07:00  WARN 8616 --- [product-service] [restartedMain] trationDelegate$BeanPostProcessorChecker : Bean 'org.springframework.cloud.client.loadbalancer.LoadBalancerAutoConfiguration$DeferringLoadBalancerInterceptorConfig' of type [org.springframework.cloud.client.loadbalancer.LoadBalancerAutoConfiguration$DeferringLoadBalancerInterceptorConfig] is not eligible for getting processed by all BeanPostProcessors (for example: not eligible for auto-proxying). The currently created BeanPostProcessor [lbRestClientPostProcessor] is declared through a non-static factory method on that class; consider declaring it as static instead.
2024-04-16T16:54:19.087+07:00  WARN 8616 --- [product-service] [restartedMain] trationDelegate$BeanPostProcessorChecker : Bean 'deferringLoadBalancerInterceptor' of type [org.springframework.cloud.client.loadbalancer.DeferringLoadBalancerInterceptor] is not eligible for getting processed by all BeanPostProcessors (for example: not eligible for auto-proxying). Is this bean getting eagerly injected into a currently created BeanPostProcessor [lbRestClientPostProcessor]? Check the corresponding BeanPostProcessor declaration and its dependencies.
2024-04-16T16:54:19.602+07:00  INFO 8616 --- [product-service] [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port 9067 (http)
2024-04-16T16:54:19.616+07:00  INFO 8616 --- [product-service] [restartedMain] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2024-04-16T16:54:19.616+07:00  INFO 8616 --- [product-service] [restartedMain] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.19]
2024-04-16T16:54:19.694+07:00  INFO 8616 --- [product-service] [restartedMain] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2024-04-16T16:54:19.694+07:00  INFO 8616 --- [product-service] [restartedMain] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 2667 ms
2024-04-16T16:54:20.029+07:00  INFO 8616 --- [product-service] [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
2024-04-16T16:54:20.155+07:00  INFO 8616 --- [product-service] [restartedMain] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Added connection org.postgresql.jdbc.PgConnection@5d56b2ae
2024-04-16T16:54:20.157+07:00  INFO 8616 --- [product-service] [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Start completed.
2024-04-16T16:54:20.233+07:00  INFO 8616 --- [product-service] [restartedMain] o.hibernate.jpa.internal.util.LogHelper  : HHH000204: Processing PersistenceUnitInfo [name: default]
2024-04-16T16:54:20.287+07:00  INFO 8616 --- [product-service] [restartedMain] org.hibernate.Version                    : HHH000412: Hibernate ORM core version 6.4.4.Final
2024-04-16T16:54:20.315+07:00  INFO 8616 --- [product-service] [restartedMain] o.h.c.internal.RegionFactoryInitiator    : HHH000026: Second-level cache disabled
2024-04-16T16:54:20.526+07:00  INFO 8616 --- [product-service] [restartedMain] o.s.o.j.p.SpringPersistenceUnitInfo      : No LoadTimeWeaver setup: ignoring JPA class transformer
2024-04-16T16:54:21.513+07:00  INFO 8616 --- [product-service] [restartedMain] o.h.e.t.j.p.i.JtaPlatformInitiator       : HHH000489: No JTA platform available (set 'hibernate.transaction.jta.platform' to enable JTA platform integration)
2024-04-16T16:54:21.515+07:00  INFO 8616 --- [product-service] [restartedMain] j.LocalContainerEntityManagerFactoryBean : Initialized JPA EntityManagerFactory for persistence unit 'default'
2024-04-16T16:54:21.869+07:00  WARN 8616 --- [product-service] [restartedMain] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2024-04-16T16:54:22.779+07:00  INFO 8616 --- [product-service] [restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
2024-04-16T16:54:22.808+07:00  INFO 8616 --- [product-service] [restartedMain] DiscoveryClientOptionalArgsConfiguration : Eureka HTTP Client uses RestTemplate.
2024-04-16T16:54:22.855+07:00  WARN 8616 --- [product-service] [restartedMain] iguration$LoadBalancerCaffeineWarnLogger : Spring Cloud LoadBalancer is currently working with the default cache. While this cache implementation is useful for development and tests, it's recommended to use Caffeine cache in production.You can switch to using Caffeine cache, by adding it and org.springframework.cache.caffeine.CaffeineCacheManager to the classpath.
2024-04-16T16:54:22.862+07:00  INFO 8616 --- [product-service] [restartedMain] o.s.b.a.e.web.EndpointLinksResolver      : Exposing 5 endpoint(s) beneath base path '/actuator'
2024-04-16T16:54:22.956+07:00  INFO 8616 --- [product-service] [restartedMain] o.s.c.n.eureka.InstanceInfoFactory       : Setting initial instance status as: STARTING
2024-04-16T16:54:22.979+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Initializing Eureka in region us-east-1
2024-04-16T16:54:22.983+07:00  INFO 8616 --- [product-service] [restartedMain] c.n.d.s.r.aws.ConfigClusterResolver      : Resolving eureka endpoints via configuration
2024-04-16T16:54:23.000+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Disable delta property : false
2024-04-16T16:54:23.000+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Single vip registry refresh property : null
2024-04-16T16:54:23.000+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Force full registry fetch : false
2024-04-16T16:54:23.000+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Application is null : false
2024-04-16T16:54:23.000+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Registered Applications size is zero : true
2024-04-16T16:54:23.000+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Application version is -1: true
2024-04-16T16:54:23.000+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Getting all instance registry info from the eureka server
2024-04-16T16:54:23.252+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : The response status is 200
2024-04-16T16:54:23.255+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Starting heartbeat executor: renew interval is: 30
2024-04-16T16:54:23.257+07:00  INFO 8616 --- [product-service] [restartedMain] c.n.discovery.InstanceInfoReplicator     : InstanceInfoReplicator onDemand update allowed rate per min is 4
2024-04-16T16:54:23.261+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Discovery Client initialized at timestamp 1713261263261 with initial instances count: 1
2024-04-16T16:54:23.268+07:00  INFO 8616 --- [product-service] [restartedMain] o.s.c.n.e.s.EurekaServiceRegistry        : Registering application PRODUCT-SERVICE with eureka with status UP
2024-04-16T16:54:23.269+07:00  INFO 8616 --- [product-service] [restartedMain] com.netflix.discovery.DiscoveryClient    : Saw local status change event StatusChangeEvent [timestamp=1713261263269, current=UP, previous=STARTING]
2024-04-16T16:54:23.271+07:00  INFO 8616 --- [product-service] [DiscoveryClient-InstanceInfoReplicator-0] com.netflix.discovery.DiscoveryClient    : DiscoveryClient_PRODUCT-SERVICE/HCM-HMK-116.ocb.vn:product-service:9067: registering service...
2024-04-16T16:54:23.300+07:00  INFO 8616 --- [product-service] [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port 9067 (http) with context path ''
2024-04-16T16:54:23.302+07:00  INFO 8616 --- [product-service] [restartedMain] .s.c.n.e.s.EurekaAutoServiceRegistration : Updating port to 9067
2024-04-16T16:54:23.313+07:00  INFO 8616 --- [product-service] [DiscoveryClient-InstanceInfoReplicator-0] com.netflix.discovery.DiscoveryClient    : DiscoveryClient_PRODUCT-SERVICE/HCM-HMK-116.ocb.vn:product-service:9067 - registration status: 204
2024-04-16T16:54:23.357+07:00  INFO 8616 --- [product-service] [restartedMain] o.a.k.clients.consumer.ConsumerConfig    : ConsumerConfig values: 
	allow.auto.create.topics = true
	auto.commit.interval.ms = 5000
	auto.include.jmx.reporter = true
	auto.offset.reset = earliest
	bootstrap.servers = [localhost:29092]
	check.crcs = true
	client.dns.lookup = use_all_dns_ips
	client.id = consumer-product-1
	client.rack = 
	connections.max.idle.ms = 540000
	default.api.timeout.ms = 60000
	enable.auto.commit = false
	exclude.internal.topics = true
	fetch.max.bytes = 52428800
	fetch.max.wait.ms = 500
	fetch.min.bytes = 1
	group.id = product
	group.instance.id = null
	heartbeat.interval.ms = 3000
	interceptor.classes = []
	internal.leave.group.on.close = true
	internal.throw.on.fetch.stable.offset.unsupported = false
	isolation.level = read_uncommitted
	key.deserializer = class org.apache.kafka.common.serialization.StringDeserializer
	max.partition.fetch.bytes = 1048576
	max.poll.interval.ms = 300000
	max.poll.records = 500
	metadata.max.age.ms = 300000
	metric.reporters = []
	metrics.num.samples = 2
	metrics.recording.level = INFO
	metrics.sample.window.ms = 30000
	partition.assignment.strategy = [class org.apache.kafka.clients.consumer.RangeAssignor, class org.apache.kafka.clients.consumer.CooperativeStickyAssignor]
	receive.buffer.bytes = 65536
	reconnect.backoff.max.ms = 1000
	reconnect.backoff.ms = 50
	request.timeout.ms = 30000
	retry.backoff.ms = 100
	sasl.client.callback.handler.class = null
	sasl.jaas.config = null
	sasl.kerberos.kinit.cmd = /usr/bin/kinit
	sasl.kerberos.min.time.before.relogin = 60000
	sasl.kerberos.service.name = null
	sasl.kerberos.ticket.renew.jitter = 0.05
	sasl.kerberos.ticket.renew.window.factor = 0.8
	sasl.login.callback.handler.class = null
	sasl.login.class = null
	sasl.login.connect.timeout.ms = null
	sasl.login.read.timeout.ms = null
	sasl.login.refresh.buffer.seconds = 300
	sasl.login.refresh.min.period.seconds = 60
	sasl.login.refresh.window.factor = 0.8
	sasl.login.refresh.window.jitter = 0.05
	sasl.login.retry.backoff.max.ms = 10000
	sasl.login.retry.backoff.ms = 100
	sasl.mechanism = GSSAPI
	sasl.oauthbearer.clock.skew.seconds = 30
	sasl.oauthbearer.expected.audience = null
	sasl.oauthbearer.expected.issuer = null
	sasl.oauthbearer.jwks.endpoint.refresh.ms = 3600000
	sasl.oauthbearer.jwks.endpoint.retry.backoff.max.ms = 10000
	sasl.oauthbearer.jwks.endpoint.retry.backoff.ms = 100
	sasl.oauthbearer.jwks.endpoint.url = null
	sasl.oauthbearer.scope.claim.name = scope
	sasl.oauthbearer.sub.claim.name = sub
	sasl.oauthbearer.token.endpoint.url = null
	security.protocol = PLAINTEXT
	security.providers = null
	send.buffer.bytes = 131072
	session.timeout.ms = 45000
	socket.connection.setup.timeout.max.ms = 30000
	socket.connection.setup.timeout.ms = 10000
	ssl.cipher.suites = null
	ssl.enabled.protocols = [TLSv1.2, TLSv1.3]
	ssl.endpoint.identification.algorithm = https
	ssl.engine.factory.class = null
	ssl.key.password = null
	ssl.keymanager.algorithm = SunX509
	ssl.keystore.certificate.chain = null
	ssl.keystore.key = null
	ssl.keystore.location = null
	ssl.keystore.password = null
	ssl.keystore.type = JKS
	ssl.protocol = TLSv1.3
	ssl.provider = null
	ssl.secure.random.implementation = null
	ssl.trustmanager.algorithm = PKIX
	ssl.truststore.certificates = null
	ssl.truststore.location = null
	ssl.truststore.password = null
	ssl.truststore.type = JKS
	value.deserializer = class org.apache.kafka.common.serialization.StringDeserializer

2024-04-16T16:54:23.448+07:00  INFO 8616 --- [product-service] [restartedMain] o.a.kafka.common.utils.AppInfoParser     : Kafka version: 3.6.1
2024-04-16T16:54:23.448+07:00  INFO 8616 --- [product-service] [restartedMain] o.a.kafka.common.utils.AppInfoParser     : Kafka commitId: 5e3c2b738d253ff5
2024-04-16T16:54:23.448+07:00  INFO 8616 --- [product-service] [restartedMain] o.a.kafka.common.utils.AppInfoParser     : Kafka startTimeMs: 1713261263447
2024-04-16T16:54:23.462+07:00  INFO 8616 --- [product-service] [restartedMain] fkaConsumerFactory$ExtendedKafkaConsumer : [Consumer clientId=consumer-product-1, groupId=product] Subscribed to topic(s): product.demo
2024-04-16T16:54:23.490+07:00  INFO 8616 --- [product-service] [restartedMain] c.h.p.ProductServiceApplication          : Started ProductServiceApplication in 7.211 seconds (process running for 8.193)
2024-04-16T16:54:23.588+07:00  INFO 8616 --- [product-service] [RMI TCP Connection(3)-10.168.6.212] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2024-04-16T16:54:23.588+07:00  INFO 8616 --- [product-service] [RMI TCP Connection(3)-10.168.6.212] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2024-04-16T16:54:23.590+07:00  INFO 8616 --- [product-service] [RMI TCP Connection(3)-10.168.6.212] o.s.web.servlet.DispatcherServlet        : Completed initialization in 2 ms
2024-04-16T16:54:23.835+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] org.apache.kafka.clients.Metadata        : [Consumer clientId=consumer-product-1, groupId=product] Cluster ID: MQaLr4JXTHmDLgN3TzB5nA
2024-04-16T16:54:23.836+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] Discovered group coordinator localhost:29092 (id: 2147483646 rack: null)
2024-04-16T16:54:23.838+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] (Re-)joining group
2024-04-16T16:54:23.852+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] Request joining group due to: need to re-join with the given member-id: consumer-product-1-854ba292-73f1-46b2-94d3-9e6ef59fc0ec
2024-04-16T16:54:23.852+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] Request joining group due to: rebalance failed due to 'The group member needs to have a valid member id before actually entering a consumer group.' (MemberIdRequiredException)
2024-04-16T16:54:23.852+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] (Re-)joining group
2024-04-16T16:54:26.163+07:00  INFO 8616 --- [product-service] [http-nio-9067-exec-1] c.h.p.controllers.v1.ProductController   : Getll all products
2024-04-16T16:54:27.194+07:00  INFO 8616 --- [product-service] [http-nio-9067-exec-2] c.h.p.controllers.v1.ProductController   : Getll all products
2024-04-16T16:54:38.450+07:00  INFO 8616 --- [product-service] [File Watcher] rtingClassPathChangeChangedEventListener : Restarting due to 1 class path change (0 additions, 0 deletions, 1 modification)
2024-04-16T16:54:38.452+07:00  INFO 8616 --- [product-service] [Thread-7] o.s.c.n.e.s.EurekaServiceRegistry        : Unregistering application PRODUCT-SERVICE with eureka with status DOWN
2024-04-16T16:54:38.453+07:00  INFO 8616 --- [product-service] [Thread-7] com.netflix.discovery.DiscoveryClient    : Saw local status change event StatusChangeEvent [timestamp=1713261278452, current=DOWN, previous=UP]
2024-04-16T16:54:38.453+07:00  INFO 8616 --- [product-service] [DiscoveryClient-InstanceInfoReplicator-0] com.netflix.discovery.DiscoveryClient    : DiscoveryClient_PRODUCT-SERVICE/HCM-HMK-116.ocb.vn:product-service:9067: registering service...
2024-04-16T16:54:38.457+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] Member consumer-product-1-854ba292-73f1-46b2-94d3-9e6ef59fc0ec sending LeaveGroup request to coordinator localhost:29092 (id: 2147483646 rack: null) due to the consumer unsubscribed from all topics
2024-04-16T16:54:38.458+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] Resetting generation and member id due to: consumer pro-actively leaving the group
2024-04-16T16:54:38.458+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] Request joining group due to: consumer pro-actively leaving the group
2024-04-16T16:54:38.458+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] fkaConsumerFactory$ExtendedKafkaConsumer : [Consumer clientId=consumer-product-1, groupId=product] Unsubscribed all topics or patterns and assigned partitions
2024-04-16T16:54:38.459+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] Resetting generation and member id due to: consumer pro-actively leaving the group
2024-04-16T16:54:38.460+07:00  INFO 8616 --- [product-service] [org.springframework.kafka.KafkaListenerEndpointContainer#0-0-C-1] o.a.k.c.c.internals.ConsumerCoordinator  : [Consumer clientId=consumer-product-1, groupId=product] Request joining group due to: consumer pro-actively leaving the group
2024-04-16T16:54:38.469+07:00  INFO 8616 --- [product-service] [DiscoveryClient-InstanceInfoReplicator-0] com.netflix.discovery.DiscoveryClient    : DiscoveryClient_PRODUCT-SERVICE/HCM-HMK-116.ocb.vn:product-service:9067 - registration status: 204
